:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://dm3z1jexb3zz4.cloudfront.net/public/images/core/sales-route-planner-dynamics-365.png?mtime=20230718152125');
    background-size: cover;
    background-position: center;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 20px;
}

.signup-field {
    width: 100%;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}