<form [formGroup]="resetForm" class="forgot-password-form">
    <mat-card class="forgot-password-card">
        <mat-form-field appearance="fill" class="forgot-password-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button color="primary" (click)="sendResetLink()">Reset Password</button>
            <a mat-button routerLink="/sign-up">Don't have an account? Sign Up here!</a>
            <a mat-button routerLink="/sign-in">Already have an account? Click Here</a>
        </div>
    </mat-card>
</form>