<!-- Here's the DIV that we inject the map into -->

<div fxLayout="row">
    <div fxFlex="20%" fxLayout="column">
        <mat-list>
            <mat-list-item>
                <span class="label">Firebase</span>
            </mat-list-item>
            <!-- <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="connectFirebase()">Connect</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="addPointItem()">Add item</button>
            </mat-list-item> -->
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="viewUserRoutes()" style="background-color: #3498db;">View routes</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="addRouteItem()" style="background-color: #3498db;">Save route</button>
            </mat-list-item>
            <mat-list-item>
                <label for="cars" style="color: black;">Choose a route:</label>
                <select name="routes" id="routes">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-list-item>
            <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="showRouteFromDropdown()">Show selected route</button>
            </mat-list-item>
            <mat-list-item>
                <label for="cars" style="color: black;">Choose a route:</label>
                <select name="routes" id="userRoutes" (change)="showUserRoutes()">
                </select>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="80%" fyFlex="100%">
        <div #mapViewNode></div>
    </div>
</div>