<!-- Here's the DIV that we inject the map into -->

<div fxLayout="row">
    <div fxFlex="30%" fxLayout="column">
        <mat-list>
            <mat-list-item>
                <span class="label" style="background-color:blueviolet;">Create a route</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <!-- <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="viewUserRoutes()"
                    style="color: white; background-color: #3498db;">View routes</button>
            </mat-list-item> -->
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="addRouteItem()"
                    style="color: white; background-color: #3498db;">Save route</button>
            </mat-list-item>
            <mat-list-item>
                <span class="label" style="background-color:blueviolet;">View routes</span>
            </mat-list-item>
            <mat-list-item style="background-color: rgb(145, 134, 216);">
                <label for="cars" style="color: black;">Choose a route from all: </label>
                <select name="routes" id="routes" (change)="showAllRoutes()">
                    <option value="volvo">Volvo</option>
                </select>
            </mat-list-item>
            <!-- <mat-list-item>
                <button mat-button mat-button color="primary" class="full-w" (click)="showRouteFromDropdown()"
                    style="color: white; background-color: #3498db;">Show selected route</button>
            </mat-list-item> -->
            <mat-list-item style="background-color: rgb(145, 134, 216);">
                <label for="cars" style="color: black;">Choose a route from your list:  </label>
                <select name="routes" id="userRoutes" (change)="showUserRoutes()">
                </select>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="70%" fyFlex="100%">
        <div #mapViewNode></div>
    </div>
</div>