<div class="dashboard">
    <div class="welcome-box">
        <p>Welcome to <span>Route Planner</span>! 🌍</p>
        <p>Plan your journeys with ease and precision. </p>
        <p>Explore routes, discover new destinations, and make the most of your travels.</p>
        <p>Ready to embark on seamless adventures? Let's get started!</p>
    </div>
    <br>
    <div class="centered-content">
        <button mat-raised-button color="primary" routerLink="/map">Go to Map</button>
    </div>
    <br>
    <div class="centered-content">
        <button mat-raised-button color="primary" routerLink="/sign-up">Create Account</button>
    </div>
</div>